[submodule "poc/h2c"]
	path = poc/h2c
	url = git@github.com:cfrg/draft-irtf-cfrg-hash-to-curve.git
[submodule "sigma"]
	path = poc/sigma
	url = git@github.com:mmaker/draft-irtf-cfrg-sigma-protocols.git
